<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('hello') }}" class="navbar-brand">

            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <img src="{{ url_for('static', filename='images/moogo.png') }}" alt="Moogo">
                <ul><a href="{{ url_for('hello') }}">Home</a></ul>
                <ul><a href="https://google.com" target="_blank">Google</a></ul>
            </ul>
        </div>
    </div>
</div>